/* Main aesthetic */
body {
    background-color: #1e1e1e;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #e8e8e8 !important;
}
a:link {
  color: #a1d2c4;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #3ea98a ;
}

a:visited {
    color: #a1d2c4;
}

a:visited:hover {
    color: #3ea98a;
}

/* Center Area */
#mainimage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Bottom Left Image */
#ferret {
  height:175px;
  width:300px;
  position: fixed;
  top: 91%;
  left: 8%;
  transform: translate(-50%, -50%);
}
#ferret:hover {
  height:175px;
  width:300px;
  content: url('../img/secret.png');
  position: fixed;
  top: 91%;
  left: 8%;
  transform: translate(-50%, -50%);
}